{% extends 'forwork/layaut.html' %}

{% block tcontent %}Добавление роли{% endblock %}

{% block bcontent %}
        <div class="module-create">
            <div class="users">
                <h1> Добавление роли</h1>
                <form method="post" >
                    {% csrf_token %}
                    {{ form.Name }}<br>
                    {{ form.Kategor }}<br>
                        <span> {{error}}</span>
                    <button class="btn btn-success" margin-top="5px" type="submit">Сохранить</button>
                </form>
            </div>
        </div>
{% endblock %}